{% extends 'base.html' %} {% block content %}
<div class="row row-sm-flex-center">
  {% include 'image.html' %}
  <div class="col-md-8 text-justify">
    <p>
      <strong>LOREM IPSUM</strong>
    </p>
    <ul>
      <li>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur.
      </li>
    </ul>
    <p>
      <strong>Trump Ipsum</strong>
    </p>
    <ul>
      <li>
        Lorem Ipsum is the single greatest threat. We are not - we are not
        keeping up with other websites. Lorem Ipsum best not make any more
        threats to your website. It will be met with fire and fury like the
        world has never seen. Does everybody know that pig named Lorem Ipsum? An
        ‘extremely credible source’ has called my office and told me that Barack
        Obama’s placeholder text is a fraud.
      </li>
    </ul>
    <p>
      <strong>Zombie Ipsum</strong>
    </p>
    <ul>
      <li>
        Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro.
        De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo
        vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris.
        Hi mindless mortuis soulless creaturas, imo evil stalking monstra
        adventus resi dentevil vultus comedat cerebella viventium.
      </li>
    </ul>
  </div>
</div>
{% endblock %}
