{% extends 'base.html' %} {% block content %}
<div class="row row-sm-flex-center">
  {% include 'image.html' %}
  <div class="col-md-8 text-justify">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras luctus erat
      eros, vitae dapibus ex lacinia eu. Mauris quis sollicitudin mauris.
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames
      ac turpis egestas. Proin eget quam egestas augue lacinia pellentesque.
      Donec rhoncus viverra hendrerit. Proin congue venenatis fringilla. Nam
      vitae nunc at nisi mollis mattis. Sed sagittis suscipit odio, eu aliquet
      eros tempus at. Sed sagittis ornare lacus. Morbi commodo consectetur
      viverra. Integer purus sem, interdum ut est ut, accumsan dictum magna.
      Aliquam lobortis nisl ut tempus cursus. Pellentesque id hendrerit mauris.
      Curabitur eget viverra lacus.
    </p>
    <p>
      Nam id ex vel nulla faucibus eleifend ac eget orci. Vestibulum velit arcu,
      consequat vel nunc et, condimentum scelerisque libero. Maecenas posuere
      augue mauris, vel tempor metus venenatis sed. In viverra aliquam blandit.
      Morbi ullamcorper efficitur enim, sed efficitur lacus placerat ut. Nulla
      facilisi. Sed nec nunc magna. Curabitur mauris ex, aliquet a elementum
      eget, finibus faucibus orci. Donec nec erat ante. Duis egestas mollis
      diam, eu iaculis erat consectetur pellentesque. Fusce sit amet velit quis
      mauris auctor luctus. Phasellus vel placerat eros.
    </p>
  </div>
</div>
{% endblock %}
