{% extends 'base.html' %} {% block content %}
<div class="row row-sm-flex-center">
  <div class="col-md-4 image-container"></div>

  <div class="col-md-8 text-justify">
    <p><strong>Projects</strong></p>
    <ol>
      <li>Community Connector</li>
      <li>Neighborhood Network</li>
      <li>Local Link</li>
      <li>Unity Hub</li>
      <li>Social Circle</li>
      <li>Harmonious Haven</li>
      <li>Civic Connect</li>
      <li>Neighborly Nexus</li>
      <li>Harmony Zone</li>
      <li>Unified Society</li>
    </ol>
  </div>
</div>
{% endblock %}
